*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  background-color: var(--color-black-700);
  color: var(--color-white-100);
  font-family: var(--font-main);
}
#root {
  min-height: 100vh;
}
.padding-x {
  padding-left: 2rem;
  padding-right: 2rem;
}
.padding-y {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.padding-xy {
  padding: 1.5rem 2rem;
}