:root {
    --color-black-900: #000;
    --color-black-800: #171717;
    --color-black-700: #242424;
    --color-white-100: #fcfcfc;

    --color-green-900: #b3ff02;
    --color-purple-900: #4202FF;

}